*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 10px;
	font-family: arial;
}
.container{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*making sure the images look nice*/
img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	display: block;
	vertical-align: middle;
}
p{
	color: white;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font: 300px;
	letter-spacing: .05rem;	
}



/*---------------------------------- Header ------------------------------------*/

/* Header Section */
#header{
	position: fixed;
	z-index: 1000;
	left:0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header{
	min-height: 15vh;
	background-color: none;
	transition: .3s ease background-color;
}
#header .nav-bar{
	display:flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-bar .logo img{
	width: 325px;
	float: left;
	padding-left: 5%;
	padding-top: 2%;
}
#header .nav-list ul{
	list-style: none;
	position: absolute;
	background-color: white;
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .3s ease left;
}
#header .nav-list ul.active{
	left: 0;
}
#header .nav-list ul a{
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul li:hover a{
	color: #00BF63;
}
#header .hamburger{
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid black;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger .bar{
	height: 2px;
	width: 30px;
	position: relative;
	background-color: black;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: black;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::before{
	bottom: 8px;
}
#header .hamburger .bar::after{
	top: 8px;
}
#header .hamburger.active .bar::before{
	bottom: 0;
}
#header .hamburger.active .bar::after{
	top: 0;
}
/* End Header Section */

/*---------------------------------- Initial ------------------------------------*/
/* Initial Section */
#initial{
	min-height: 110vh;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
#initial .initial{ /* container */
	max-width: 1024px;
	width: 90%; /* in order to have some margins when I make little the device */
	margin-left: auto; /* makes our content in the center */
	margin-right: auto;
	display: flex; /* We want flex for our large device */
	flex-direction: column-reverse;
	gap: 30px;
}
#initial .hero-image{
	width: 100%;
  height: auto;
  border-radius: 12px;
	margin-top: 15rem;
  margin-bottom: 2rem;
}
#initial .initial-container h1{
	font-size: 36px;
	line-height: 40px;
	font-weight: 700;
	color: #00bf63;
	text-transform: uppercase;
}
#initial .initial-container .meta{
	color: #888;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
#initial .initial-container p{
	margin-bottom: 1.5rem;
  font-size: 1.1rem;
}
#initial .initial-container .inline-image {
  width: 100%;
  border-radius: 8px;
  margin: 2rem 0;
}
#initial .initial-container blockquote{
  font-style: italic;
  color: #666;
  border-left: 4px solid #ccc;
  padding-left: 1rem;
  margin: 2rem 0;
}
/* End Initial Section */

/*---------------------------------- Footer ------------------------------------*/

/* Footer */
#footer{
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer{
	min-height: 90px;
	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 10px;
}
#footer .logo img{
	width: 225px;
	float: center;
	padding-bottom: 1%;
	padding-top:2%;
}
#footer .logo h2{
	color: white;
	text-align: center;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;	
}
#footer .social-icon{
	display: flex;
	margin-top:30px;
	margin-bottom:15px;
	float: center;
	justify-content: center;
}
#footer .social-icon .social-item img{
	object-fit: contain; /* helps not to see the image cut partially*/
	width: 25px;
	height: 25px;
	margin: 0 8px;
}
#footer p{
	font-size: 1.1rem;
}
/* End Footer */

/*------------------------------ Media Query -----------------------------------*/

/*Media Query for Tablet*/
@media only screen and (min-width:768px){/*that is for the tablet*/
	/* Initial */
	#initial .initial{
	flex-direction: row;
	}
	#initial .presentation-left{
	text-align: left;
	}
	#initial .presentation-left h1{
	font-size: 60px;
	line-height: 64px;
	}
	#initial .presentation-left p{
	font-size: 18px;
	line-height: 28px;
	}
	#initial .presentation-left a{
	font-size: 18px;
	line-height: 28px;
	}
	#initial .presentation-right .pod-image{
	height: 100%;
	margin-bottom: 105px;
	}
	#initial .presentation-right .pod-image .img{
	position: absolute;
	top: -25%;
	}
	/* End Initial */
	
	/* Guest */
	#guest .guest-top p{
	font-size: 16px;
	line-height: 24px;
	}
	#guest .guest-bottom{
	flex-direction: row;
	}
	#guest .guest-bottom .guest-1{
	background-color: #e6e6e6;
	padding-bottom: 135px;
	border-radius: 12px;
	flex: 1 1 0%; /* it takes 50% width */
	}
	#guest .guest-bottom .guest-1 .guest-image{
	height: 100%
	}
	#guest .guest-bottom .guest-1 .guest-image .img{
	position: absolute;
	}
	#guest .guest-bottom .guest-1 .guest-info p{
	font-size: 16px;
	line-height: 24px;
	margin-top: 8px;
	}
	/* End Guest */

	/* Stats */
	#stats .stats-info{
	flex-direction: row;
	gap: 100px;
	}
	/* End Stats */
	
	/* Cta */
	#cta .cta h1{
	font-size: 72px;
	line-height: 78px;
	}
	/* End Cta */
}
/*End Media Query for Tablet*/

/*Media Query for Desktop*/
@media only screen and (min-width:1200px){/*that is for the desktop*/
	/* Header */
	#header .hamburger{
		display: none;
	}
	#header .nav-list ul{
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li{
		display: inline-block;
	}
	#header .nav-list ul li a{
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after{
		display: none;
	}	
	/* End Header */
	#initial .initial-top{
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/*End Media Query for Desktop*/