*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 10px;
	font-family: arial;
}
.container{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*making sure the images look nice*/
img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	display: block;
	vertical-align: middle;
}
p{
	color: white;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font: 300px;
	letter-spacing: .05rem;	
}



/*---------------------------------- Header ------------------------------------*/

/* Header Section */
#header{
	position: fixed;
	z-index: 1000;
	left:0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header{
	min-height: 15vh;
	background-color: none;
	transition: .3s ease background-color;
}
#header .nav-bar{
	display:flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-bar .logo img{
	width: 325px;
	float: left;
	padding-left: 5%;
	padding-top: 2%;
}
#header .nav-list ul{
	list-style: none;
	position: absolute;
	background-color: white;
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .3s ease left;
}
#header .nav-list ul.active{
	left: 0;
}
#header .nav-list ul a{
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul li:hover a{
	color: #00BF63;
}
#header .hamburger{
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid black;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger .bar{
	height: 2px;
	width: 30px;
	position: relative;
	background-color: black;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: black;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::before{
	bottom: 8px;
}
#header .hamburger .bar::after{
	top: 8px;
}
#header .hamburger.active .bar::before{
	bottom: 0;
}
#header .hamburger.active .bar::after{
	top: 0;
}
/* End Header Section */

/*---------------------------------- Initial ------------------------------------*/
/* Initial Section */
#initial{
	min-height: 110vh;
	background-color: #e6e6e6;
	display: flex;
	align-items: center;
	justify-content: center;
}
#initial .initial{ /* container */
	max-width: 1024px;
	width: 90%; /* in order to have some margins when I make little the device */
	margin-left: auto; /* makes our content in the center */
	margin-right: auto;
	display: flex; /* We want flex for our large device */
	flex-direction: column-reverse;
	gap: 30px;
}
#initial .presentation-left{
	text-align: center;
}
#initial .presentation-left .section-title{
	font-size: 36px;
	line-height: 40px;
	font-weight: 700;
	color: black;
	text-transform: uppercase;
}
#initial .presentation-left .section-title span{
	font-size: 36px;
	line-height: 40px;
	font-weight: 700;
	color: #00bf63;
	text-transform: uppercase;
}
#initial .presentation-left p{
	font-size: 14px;
	line-height: 20px;
	color: black;
}
#initial .presentation-left a{
	text-decoration: none;
	display: inline-block;
	color: white;
	background-color: #00bf63;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 12px;
	padding-right: 12px;
	margin-top: 20px;
	font-size: 14px;
	line-height: 20px;
	border-radius: 6px;
}
#initial .presentation-left a:hover{
	background-color: rgb(34 197 94);
	color: white;
}
#initial .presentation-right .pod-image{
	display: inline-block;
	width: 100%;
	height: 50vh;
	overflow: hidden;
	position: relative;
	margin-top: 20vh;
}
#initial .presentation-right .pod-image .img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
#initial .presentation-right .pod-image .image-text{
	position: absolute; /*places in the lower-left*/
	bottom: 5px;
	right: 5px;
	color:#e6e6e6; /*ensures contrast*/
	font-size: 7px;
}
/* End Initial Section */

/*---------------------------------- Articles grid ------------------------------------*/
/* Artcles grid Section */
#guest{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	padding-top: 100px;
	padding-bottom: 100px;
}
#guest .guest-container{ /* container */
	max-width: 1024px;
	width: 90%; /* in order to have some margins when I make little the device */
	margin-left: auto; /* makes our content in the center */
	margin-right: auto;
	flex-direction: column;
}
#guest .guest-container .guest-top{
	text-align: center;
	max-width: 512px;
	margin-left: auto;
	margin-right: auto;
}
#guest .guest-container .guest-top h1{
	font-size: 36px;
	line-height: 40px;
	font-weight: 700;
	color: #00bf63;
}
#guest .guest-container .guest-top p{
	font-size: 14px;
	line-height: 20px;
	color: black;
}
#guest .guest-container .guest-bottom{
	display: grid;
	grid-template-columns: 1fr;/* one column on mobile */
	gap: 20px;
	margin-top: 44px;
}
/*#guest .guest-bottom .guest{
	background-color: #e6e6e6;
	padding: 20px;
	border-radius: 12px;
	flex: 1 1 0%; /* it takes 50% width */
/*}
#guest .guest-bottom .guest .guest-image{
	border-radius: 8px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
#guest .guest-bottom .guest .guest-image .img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
#guest .guest-bottom .guest .guest-info{
	display: flex;
	flex-direction: column;
}
#guest .guest-bottom .guest .guest-info h2{
	font-size: 20px;
	line-height: 28px;
	color: #00bf63;
	font-weight: 500;
	margin-top: 12px;
}
#guest .guest-bottom .guest .guest-info p{
	font-size: 14px;
	line-height: 20px;
	color: black;
	display: flex;
}
#guest .guest-bottom .guest .guest-info a {
	color: #00bf63;
	text-decoration: none;
	font-weight: bold;
	margin-top: 10px;
}
#guest .guest-bottom .guest .guest-info a:hover {
	text-decoration: underline;
}
#guest .guest-bottom .guest .guest-info .date {
	font-size: 12px;
	color: black;
	margin-top: 5px;
}
/* End articles grid Section */

/*---------------------------------- Subscribe Section ------------------------------------*/
#subscribe-section {
	height: 25vh;
  background-color: #00bf63;
  padding: 4rem 1.2rem;
	margin-top: 2rem;
	display: flex;
  justify-content: center; /* centers the inner container */
}
#subscribe-section .subscribe-container {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
#subscribe-section .subscribe-container h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: black;
}

/* Form styles */
#subscribe-section .subscribe-container .subscribe-form {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 100%;
}

#subscribe-section .subscribe-container .subscribe-form input[type="email"] {
  padding: 1rem;
  font-size: 1.3rem;
  width: 300px;
  max-width: 100%;
  border: 1px solid #e6e6e6;
	border-right: none; /* Remove right border */
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
}

#subscribe-section .subscribe-container .subscribe-form button {
  padding: 1rem 2rem;
  font-size: 1.3rem;
	font-weight: bold;
  background-color: #e6e6e6;
  color: black;
  border: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6; /* thin dividing line */
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#subscribe-section .subscribe-container .subscribe-form button:hover {
  background-color: white;
	color: #00BF63;
}
/* End Subscribe Section */

/*---------------------------------- Footer ------------------------------------*/

/* Footer */
#footer{
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer{
	min-height: 90px;
	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 10px;
}
#footer .logo img{
	width: 225px;
	float: center;
	padding-bottom: 1%;
	padding-top:2%;
}
#footer .logo h2{
	color: white;
	text-align: center;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;	
}
#footer p{
	font-size: 1.1rem;
}
/* End Footer */


/*------------------------------ Media Query -----------------------------------*/

/*Mobile Phones*/
@media only screen and (max-width: 480px){
	html {
		font-size: 8px;
	}
	/* Header */
	#header .hamburger{
		height: 40px;
		width: 40px;
	}
	#header .nav-bar .logo img{
		width: 200px;
	}
	#header .hamburger .bar{
		height: 2px;
		width: 20px;
	/* End Header */

	/* Footer */
	#footer .logo img{
		width: 150px;
	}
	#footer .logo h2{
		font-size: 1.2rem;
	}
	#footer p{
		font-size: 0.9rem;
	}
	/* End Footer */
}
/*End Media Query for Mobile Phones*/	

/*Media Query for Tablet*/
@media only screen and (min-width:768px){/*that is for the tablet*/
	/* Initial */
	#initial .initial{
		flex-direction: row;
		}
		#initial .presentation-left{
		text-align: left;
		}
		#initial .presentation-left h1{
		font-size: 60px;
		line-height: 64px;
		}
		#initial .presentation-left p{
		font-size: 18px;
		line-height: 28px;
		}
		#initial .presentation-left a{
		font-size: 18px;
		line-height: 28px;
		}
		#initial .presentation-right .pod-image{
		height: 100%;
		margin-bottom: 105px;
		}
		#initial .presentation-right .pod-image .img{
		position: absolute;
		top: -25%;
		}
		/* End Initial */
		
		/* Guest */
		#guest .guest-top p{
		font-size: 16px;
		line-height: 24px;
		}
		#guest .guest-bottom{
		grid-template-columns: repeat(2, 1fr); /* two columns */
		}
		/*#guest .guest-bottom .guest{
		background-color: #e6e6e6;
		padding-bottom: 135px;
		border-radius: 12px;
		flex: 1 1 0%; /* it takes 50% width */
		/*}
		#guest .guest-bottom .guest .guest-image{
		height: 100%
		}
		#guest .guest-bottom .guest .guest-image .img{
		position: absolute;
		}
		#guest .guest-bottom .guest .guest-info p{
		font-size: 16px;
		line-height: 24px;
		margin-top: 8px;
		}*/
		/* End Guest */
}
/*End Media Query for Tablet*/

/*Media Query for Desktop*/
@media only screen and (min-width:1200px){/*that is for the desktop*/
	/* Header */
	#header .hamburger{
		display: none;
	}
	#header .nav-list ul{
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li{
		display: inline-block;
	}
	#header .nav-list ul li a{
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after{
		display: none;
	}	
	/* End Header */

	/* Guest */
	#guest .guest-bottom{
		grid-template-columns: repeat(2, 1fr); /* two columns */
		}
	/* End Guest */

	/* Initial */
	#initial .initial-top{
		flex-basis: 22%;
		margin: 1.5%;
	}
	/* End Initial */ 
}
/*End Media Query for Desktop*/